<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="interval" value="1000"/>
    <add key="crmConnection" value="Server=10.100.100.53\CRMINSTANCE;Database=CRMDEV_MSCRM;Integrated Security=SSPI;"/>
    <add key="crmConnStringDEV" value="ServiceUri=https://intcrm.2mybi.com/CRMDEV; AuthType=IFD;Domain=ztrserve; UserName=sixspartner@ztr.biz;Password=Enter@ZTR; LoginPrompt=Never;"/>
    <add key="spCRMGetOps" value=".\EpicorSps\spCRMGetOps.sql"/>
    <add key="spGetCRMProcessedOps" value=".\EpicorSps\spGetCRMProcessedOps.sql"/>
    <add key="spGetQuoteOps" value=".\EpicorSps\spGetQuoteOps.sql"/>
    <add key="spSetQuoteOPSuccess" value=".\EpicorSps\spSetQuoteOPSuccess.sql"/>
    <add key="spGetContacOps" value=".\EpicorSps\spGetContacOps.sql"/>
    <add key="spGetCRMContactOps" value=".\EpicorSps\spGetCRMContactOps.sql"/>
    <add key="spSetContactOPSuccess" value=".\EpicorSps\spSetContactOPSuccess.sql"/>
    <add key="spGetE101QuoteOps" value=".\EpicorSps\spGetE101QuoteOps.sql"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="iE101Connection" value="Server=10.100.100.53;Database=EpicorTest10;Integrated Security=SSPI;"/>
    <add key="spGetOps" value=".\EpicorSps\spGetOps.sql"/>
    <add key="spUpdOps" value=".\EpicorSps\spUpdOps.sql"/>
    <add key="spSetCrmSuccess" value=".\EpicorSps\spSetCrmSuccess.sql"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="pathLog" value=".\Logs\"/>
    <add key="epiUser" value="manager"/>
    <add key="epiPass" value="manager"/>
    <add key="epiConfig" value="C:\Users\IPenuelas\Documents\visual studio 2015\Projects\CRMIntegration\CRMIntegrationV2\External Dlls\E10Hermes.sysconfig"/>
    <add key="epiBinding" value="net.tcp://192.168.50.141/E10Hermes"/>
  </appSettings>
</configuration>
